<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <includes>
        <include file="controllers/test.xml"/>
        <include file="models/test.xml"/>
    </includes>
    <controllers package="controllers.some1" route="/some1">
        <controller name="TestCtrl1" route="/test">
            <actions>
                <action name="List" method="GET">
                    <params>
                        <param name="page" type="int" required="false" from="query"/>
                        <param name="search" type="string" required="false" from="query"/>
                    </params>
                    <return type="response.Response"/>
                </action>
            </actions>
        </controller>
    </controllers>
</configuration>